<section class="results">
  <%= render @bars %>
</section>

<%= will_paginate @bars %>

<script>
    // add listener to add remove bars to crawl list.
    $(document).ready(function(){
        console.log('good to go selecting bars');
        
        $('.bar-addremove').each(function(){
            var $barId = $(this).data('bar_id');
            var btnState = localStorage.getItem($barId);

            if (btnState == 'yes') {
                $(this).find('img').attr('src', '/assets/tick.svg');
                $(this).find('img').addClass('selected');
            } else {
                $(this).find('img').attr('src', '/assets/add.svg');
            };
        });

        $('.bar-addremove').on('click', 'img', function(){

            $(this).toggleClass('selected');

            if ($(this).hasClass('selected')) {
                $(this).attr('src', '/assets/tick.svg')
            } else {
                $(this).attr('src', '/assets/add.svg')
            };

            var $barId = $(this).parent().data('bar_id');
            console.log('clicked bar:' + $barId);
            var temp = toggleBarSelectedLocalStorage($barId);
        });

        var saveLocalStorage = function(saveKey,saveMe){
            localStorage.setItem(saveKey,saveMe);
            return true;
        };

        var getLocalStorage = function(key){
            return localStorage.getItem(key);
        };

        var toggleBarSelectedLocalStorage = function(barId){
            var bool = getLocalStorage(barId);
            console.log('LocaStorage Bool: ' + bool);
            if (bool == 'yes'){
                saveLocalStorage(barId,'no');
                return 'no';
            } else if (bool == 'no'){
                saveLocalStorage(barId,'yes');
                return 'yes'
            } else {
                // handles bool == nil or null
                saveLocalStorage(barId,'yes');
                return 'yes';
            }
        };
    // DT and I moved this. If there are bugs or merge errors reject this here.
    <% if @bars.next_page %>
    $('.pagination').replaceWith('<%= escape_javascript will_paginate(@bars) %>');
    <% else %>
    $('.pagination').remove();
    <% end %>

    });
</script>


