<section class="results">
  <%= render @bars %>
</section>

<%= will_paginate @bars %>

<script>
    // add listener to add remove bars to crawl list.
    $(document).ready(function(){
        $('.bar-addremove').on('click', 'img', function(){

            $(this).toggleClass('selected');

            if ($(this).hasClass('selected')) {
                $(this).attr('src', '/assets/add.png')
            } else {
                $(this).attr('src', '/assets/tick.png')
            };

            var $barId = $(this).parent().data('bar_id');
            var $addressForGeocoding = $(this).parent().data('address');
            var temp = toggleBarSelectedLocalStorage($barId);
        });

        $('.bar-detail ul li').each(function(){
            $(this).last().html('test');
        });

        var saveLocalStorage = function(saveKey,saveMe){
        var serializedForSave = JSON.stringify(saveMe);
        localStorage.setItem(saveKey,serializedForSave);
        return true;
        };

        var getLocalStorage = function(key){
        var parseMe = localStorage.getItem(key);
        return JSON.parse(parseMe);
        };

        var toggleBarSelectedLocalStorage = function(barId){
        var bool = getLocalStorage(barId);
        console.log('LocaStorage Bool: ' + bool);
        if (bool == 'yes'){
            saveLocalStorage(barId,'no');
            return 'no';
        } else if (bool == 'no'){
            saveLocalStorage(barId,'yes');
            return 'yes'
        } else {
            // handles bool == nil or null
            saveLocalStorage(barId,'yes');
            return 'yes';
        }
    };
    // DT and I moved this. If there are bugs or merge errors reject this here.
    <% if @bars.next_page %>
    $('.pagination').replaceWith('<%= escape_javascript will_paginate(@bars) %>');
    <% else %>
    $('.pagination').remove();
    <% end %>

    });
</script>


