  <div class="main-bar-img"><%= image_tag("example-bar.jpg", :alt => "banner logo") %>

   <div id="map-canvas"></div>
    <h2>Bull & Bear</h2>
    <!-- <div class="btn-add"><a href="#"><img src="../app/assets/images/btn-add.png" /></a></div> -->
  </div>

  <section class="bar-info">
    <p class="bar-address"><%= @bar.address %></p>
    <p class="bar-tel"><%= @bar.contact_2 %></p>
    <p class="bar-specials-day">Monday -HARDCODED</p>
    <div id="address-geocode" style="display: none;"><%= @address_for_geocoding %></div>
  </section>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

