<div class="about-container" id="top">

<!--   <ul>
    <li><a href="#what"><i class="fa fa-chevron-circle-right"></i> Who are we?</a></li>
    <li><a href="#purpose"><i class="fa fa-chevron-circle-right"></i> The purpose of this site</a></li>
    <li><a href="#how"><i class="fa fa-chevron-circle-right"></i> How to use</a></li>
    <li><a href="#what"><i class="fa fa-chevron-circle-right"></i> Whats in store?</a></li>
  </ul> -->

  <h2 id="what">Who are we?</h2>

  <p>The Happy Hour team is comprised of four students from General Asssembly's Web Development Immersive programme. </p>
  <p>The idea was born when we combined our love for all things web...with an equal love for a happy-hour drink or two. After a hard week of coding we tend to find ourselves unwinding with a nice cold beer or two.</p>

  <h2 id="purpose">The purpose of this site...</h2>

  <p>We wanted to create an application where people could quickly and easily search for pubs and bars offering cheap drinks or specials. We also thought it would be cool if users could plan their entire evening based on the specials offered in their area, allowing them to hop from bar to bar as the hapy-hours begin.</p>


  <p>The application allows the user to create a list of bars form the search results using the browser's built-in storage capabilities. And the great thing is... there's need to sign-up or download anything!</p>

  <h2 id="how">How to use...</h2>

  <ol>
    <li>Select the location for which you want to search for deals</li>
    <li>Choose the day</li>
    <li>From the list of results, click the add button to save bars that take your fancy.</li>
  </ol>

  <p>The number of bars you've selected will be appear in the top right corner. To see your list click on the icon.</p>

<!--   <p>The great thing is...there's no need to signup. Just select your lcation and day and you're away.  Once you see a bar or two from the results list simply click on the green 'plus' icon. The number of bars you've selected will be appear in the top right corner.</p> -->

  <h2 id="what">Whats in store?</h2>

  <p>Plans for the future? Sure -  we will soon be implemnting new features that will allow the user to automatically notifty their friends of their pub crawl list. Watch this space...</p>

  <p><strong>Thanks</strong> from the Happy Hour team!</p>

  <p><a href="#top"><i class="fa fa-arrow-circle-o-up"></i> top</a></p>

</div>