<div class="demo-cover">
  

<div class="phone-wrapper">

<div class="ios-device ios-device--large ios-device--white iphone-6-plus--large">
    <div class="ios-device__screen">
      
  <iframe src="http://localhost:3000"></iframe>
    </div>
</div>

</div>

</div>