.about-container {
  margin:auto;
  margin-top: -1em;
  padding:0 .5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-width: 700px;
  ul {
    list-style: none;
    padding:0;

    li {
      margin-bottom: .2em;
    }

  }

  ol {
    padding-left:2em;
    list-style-type: disc;
  }
  a {
    color: lightblue;
    color: #000;
    text-decoration: none;
  }
  img {
    max-width:100%;
    vertical-align: middle;
  }
  h2 {
    font-weight: 400;
    font-size:1.4em;
    margin:1em 0 .4em 0 ;
  }
  h2 + p {
    margin-top:0em;
  }

}

.fa {
  font-size: .8em;
}

.fa-arrow-circle-o-up {
  font-size:1em;
}

.team-photo {
  border:1px solid #ccc;
  padding:2px;
  } 

  
