.bar-info {
  margin: 2em 2em 1em 2em;
  padding-bottom: 2em;
  font-weight: 300;
}

.main-bar-img {  
  position: relative;
  img:first-child {
    width:100%;
  }
}


.bar-info p {
  vertical-align: top;
}

.bar-info i.fa {  /* map and contact icons */
  margin-right:.1em;
  font-size:1.5em;
}

.bar-info i.fa-chevron-circle-right { font-size:1.3em; } /* (contact icon slightly smaller) */

.main-bar-img h2 {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight:300; 
  bottom:1.4em;
  left:.8em;
  color: #fff;
  font-size:1.7em;
  margin: 0;
}



/* Google Map placement */

#map-canvas {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  visibility: hidden;
}

.btn-map {
  position:absolute;
  right:15px;
  bottom:-31px;
  width:67px;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.2));
}

.bar-addremove.btn-add {
  width:67px;
  position:absolute;
  right:95px;
  bottom:-31px;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.2));
}

.btn-map:hover,
.btn-add:hover {
  cursor: pointer;
}

#map-canvas.visible { visibility: visible; }
/*.bar-address {
  background: url(../images/icon-map-marker.png) no-repeat;
  padding:.5em 0 .5em 2em;
}

.bar-tel {
  background: url(../images/icon-phone.png) no-repeat;
  padding:.5em 0 .5em 2em;
}

.bar-specials-day {
  background: url(../images/icon-beer.png) no-repeat;
  padding:.5em 0 .5em 2em;
}*/






