.home-container {
  width: 70%;
  margin: 1em auto 0 auto;
  text-align: center;
  h1 {
    margin:0 0 .2em 0;
    font-family: $georgia;
    font-weight: normal;
    font-size:1.8em;
    color:$dkgray;
  }
}

.form-row {
  margin:0 0 1em 0;
}

.tagline {
  font-family: $georgia;
  margin-top:0;
}

.home-container label {
  display: block;
  padding-bottom:.2em;
}

.main-logo {
  margin: 1.5em 0 1.8em 0em;
  img {
    max-width:80%;
  }
}

.form-row {
/*  border-bottom: 1px solid red;
  display: inline-block;*/
}




