@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "home";
@import "bar-info";
@import "results";

body {
  background:#222;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width:480px;
  min-height: 500px;
  background:#fff;
}


/* ------------ Header ---------------- */

header {
  background-color: $lightblue;
  min-height: 50px;
  margin-bottom:1em;
  box-shadow: 0px 2px 4px 0px rgba(204, 204, 204, 0.87);

  .nav-toggle {
    @include span-columns(4);
  }

  .nav-home {
    text-align: center;
    @include span-columns(4);
    img { 
      width:50px;
    }

  }

  .nav-pubs {
  text-align: right;
  @include span-columns(4);
    img { 
      width:50px;
    }
  }

}  /* end header */


/* ------------ Forms ---------------- */

input[type="submit"] {
  background-color: $lightblue;
  padding: .5em 4em;
  margin: 1em 0 0 0;
  border: none;
  color: #fff;
  font-size:.8em;
  font-weight: bold;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: $hover;
}

select {
  background: #fff;
  font-size:.9em;
  padding:.3em;
  border:none;
  border-bottom:1px solid #999;
}













