#cart {
  padding:0 2%;
}

#cart h1 {
  margin-top:5%!important;
}

#cart a {
  color:#000;
}

#cart #delete-all {
  width: 70%;
  padding:.5em 2em;
  color:#fff;
  border-radius:10px;
  background-color:red;
  text-align: center; 
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.2));
}

.saved-list ul {
  padding-left:2%;
}

.saved-list li {
  margin-bottom:3em;
}

.remove-bar {
  float: right;
  margin-top:-.6em;
}

.remove-bar img {
  width:40px;
  height:40px;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.2));
}

