section.results {
  padding:2em 0 0 0;
}

.results-row {
  @include row();
  margin-bottom: 1em;
  padding-left: 2.5em;
  padding-right:0;
}

.bar-thumb {
  @include span-columns(3);
  text-align:center;
  img {
    max-width: 100%;
    border-radius: 100px;
  }
}

.bar-detail {
  @include span-columns(6);
  h4 {
    font-weight: 400;
    margin:0 0 .2em 0;
    a {
      color:#000;
      text-decoration: none;
    }
  }
  ul {
    padding:0;
    margin-top: .3em;
    li {
      font-size:.8em;
      list-style-type: none;
      margin-bottom:.5em;
    }
    /* Map Icon */ 
    .fa-map-marker,
    .fa-clock-o {
      font-size: 1.3em;
    }
  }
  
}

.bar-addremove {
  @include span-columns(3);
    img{
    -webkit-filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.3));
    filter: drop-shadow(5px 5px 5px #222);
    display: inline-block;
    height: 100%;
    margin-top: 1em;
  }
} 